body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(210, 46%, 95%);
  color: hsl(0, 0%, 100%);
  font-size: 13px;
}

.card-section {
  display: flex;
  justify-content: center;
  margin: 50px 10% 10px;
}

.card {
  border: none;
  padding: 1.6rem;
  height: 100%;
}

.card-a {
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% top;
}

.card-b {
  background-color: hsl(217, 19%, 35%);
}

.card-c .card-e {
  background-color: hsl(0, 0%, 100%);
}

.card-e {
  height: 98% !important;
}

.card-d {
  background-color: hsl(219, 29%, 14%);
}

img {
  height: 40px;
  width: 40px;
  /* border-radius: 50%; */
}

/* .about-user {
  margin-left: 15px;
} */

.user-name {
  font-size: 13px;
  font-weight: 600;
}

.user-status {
  color:hsl(0, 0%, 81%);
}

.card-text {
  color:hsl(0, 0%, 70%);
  font-size: 13px;
}

#name {
  color:hsl(0, 0%, 50%);
}

#title {
  color:hsl(0, 0%, 50%);
}

.attribution { 
  font-size: 12px; 
  text-align: center; 
  color: hsl(0, 0%, 50%);
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}